/studentgrades/nbproject/private/
/studentgrades/dist/
/studentgrades/build/
/SessionScope/nbproject/private/
/scopes/nbproject/private/
/scopes/build/
/scopes/dist/
/coingame/nbproject/private/
/coingame/build/
/coingame/dist/
/commenter/nbproject/private/
/commenter/build/
/commenter/dist/
/tacoblog/nbproject/private/
/tacoblog/dist/
/tacoblog/build/
/moviesdb/nbproject/private/
/moviesdb/build/
/moviesdb/dist/
/writedb/nbproject/private/
/writedb/build/
/writedb/dist/
/neighborhoodpet/nbproject/private/
/neighborhoodpet/dist/
/neighborhoodpet/build/